*{
	font-family: 'Montserrat';
	margin: 0px;
}

input[type=text] {
	background-color: #1B1B1B;
	border: none;
	border-radius: 6px;
	text-align: center;
	width: 540px;
	height: 42px;
}

input[type="checkbox"]:checked{
	width: 20px;
	height: 20px;
	accent-color: #D0BCFF;
}
input[type="checkbox"]{
	width: 20px;
	height: 20px;
}


input[type=text]:focus {
	outline: none;
}

h2 {
	font-weight: 400;
	font-size: 16px;
	color: #858585;
}
